@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<!--Presentacion-->
<div class="container-fluid">
    <div class="row position-relative overflow-hidden p-3 p-md-5 md-md-3 bg-light">
        <div class="col-md-6">
            <h1 class="text--gradient text-justify">¡Nosotros nos aseguramos de darle un plus a tu CV brindándote las herramientas que la industria está pidiendo a gritos!</h1>
            <p class="lead">Porque en la universidad no siempre te enseñan lo que necesitas para trabajar como profesionista, nosotros te echamos la mano enseñándote a utilizar los softwares industriales más esenciales.</p>
            <button id="openmodal" type="button" class="btn btn-info active button--gradiant">¡Contáctanos!</button>
            <button type="button" class="btn btn-info">Conoce más acerca de nosotros <i class="fas fa-arrow-right"></i></button>
        </div>
        <div class="col-md-6">
            <img src="~/Content/media/quadware.png" class="img-fluid" alt="Quadware Courses Solutions" width="800" height="400" />
        </div>
    </div>

    <div class="row position-relative overflow-hidden p-3 p-md-5 md-md-3 bg-light">
        <div class="card-columns">
            <div class="card" style="height:11rem;">
                <div class="card-body">
                    <h5 class="card-title"><span style="color: #000099"><i class="fas fa-flag"></i></span> Misión</h5>
                    <p class="card-text">Proveer servicios profesionales de primer nivel para dar soluciones de calidad en cuestión de capacitaciones y soluciones industriales.</p>
                </div>
            </div>
            <div class="card" style="height:11rem;">
                <div class="card-body">
                    <h5 class="card-title"><span style="color: #000099"><i class="fas fa-eye"></i></span> Visión</h5>
                    <p class="card-text">Brindar competitividad a nuestra región a través del desarrollo de profesionistas de excelente calidad y estén preparados para los diferentes retos que se presenten día a día.</p>
                </div>
            </div>
            <div class="card" style="height:11rem;">
                <div class="card-body">
                    <h5 class="card-title"><span style="color: #000099"><i class="fas fa-feather-alt"></i></span> Valores</h5>
                    <p class="card-text">Excelencia, Libertad, Pasión, Responsabilidad, Resolución y Trabajo en Equipo.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>

<div class="container-fluid">
    <div class="row position-relative overflow-hidden p-3 p-md-5 md-md-3 bg-white">
        <div class="col-md-6">
            <!--imagen en grande que cambia-->

            <div class="card bg-dark text-white">
                <img class="card-img" src="~/Content/media/quadware.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!--Galeria-->
            <div class="row">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Proveer servicios profesionales de primer nivel para dar soluciones de calidad en cuestión de capacitaciones y soluciones industriales. Brindar competitividad a nuestra región a través del desarrollo de profesionistas de excelente calidad y estén preparados para los diferentes retos que se presenten día a día</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row position-relative overflow-hidden p-3 p-md-5 md-md-3 bg-light">
        <!--       4ta seccion         -->
        <div class="card-columns">
            <div class="card">
                <img class="card-img-top img-responsive" src="~/Content/media/quadware.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Capacitaciones</h5>
                    <p class="card-text">Aprende los principales softwares que actualmente se están necesitando en el ambiente laboral de la mano de expertos en el área.</p>
                    <p class="card-text"><i class="fas fa-angle-right"></i></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top img-responsive" src="~/Content/media/quadware.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Soluciones de Ingeniería</h5>
                    <p class="card-text">Danos un reto y nos pondremos manos a la obra con soluciones de diseño mecánico, maquinaado industrial e impresión 3D.</p>
                    <p class="card-text"><i class="fas fa-angle-right"></i></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top img-responsive" src="~/Content/media/quadware.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Se parte de QuadWare</h5>
                    <p class="card-text">¿Eres un pro en algún software popular en el campo laboral y te gustaría desarrollar mas profesionales? ¡Tienes que estar con nosotros!</p>
                    <p class="card-text"><i class="fas fa-angle-right"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--5ta Seccion-->
<div class="row">

</div>
